# backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# misc
.DS_Store
*.db
backend/*.db
backend/medreport.db
